.login-background {
  background-color: #fff;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  height: auto;
  backface-visibility: hidden;
  overflow: hidden;
  background-image: linear-gradient(40deg, rgb(17, 45, 78, 0.7), rgba(249, 247, 247, 0.7)),
    url('https://p4.wallpaperbetter.com/wallpaper/710/913/150/coffee-cup-desk-document-wallpaper-preview.jpg');
}

.login-logo {
  margin-top: 50px;
  height: 180px;
  width: 160px;
}

.login-forget-password {
  color: #f9f7f7;
  text-decoration: none;
  text-align: center;
}

.login-forget-password:hover {
  color: #3f72af;
  cursor: pointer;
}
